.site-header {
  padding: 15px 0;
}
.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left,
.header-right {
  display: flex;
  align-items: center;
}
.site-logo img {
  width: 168px;
}
.nav-menu ul {
  display: flex;
  list-style: none;
}
.nav-menu ul li a {
  text-decoration: none;
  color: #535768;
  padding: 8px 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}
.nav-menu ul li a:hover {
  color: #5034ff;
}
.product-switcher-btn {
  width: 40px;
  height: 40px;
  line-height: 40px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
}
.product-switcher-btn:hover {
  background-color: #f0f3ff;
}
.product-switcher-btn img {
  max-width: 100%;
}

.btn {
  border: solid 1px #6161ff;
  border-radius: 50px;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
a.btn.header-btn-1 {
  color: #5034ff;
  background-color: #ffffff;
}
a.btn.header-btn-2 {
  color: #ffffff;
  background-color: #5034ff;
  margin-inline: 15px;
}
a.btn.header-btn-1:hover {
  background-color: #5034ff;
  color: #ffffff;
}

a.btn.header-btn-2:hover {
  color: #f0f3ff;
}
