@import "tailwindcss";

:root {
  --primary-color: #6161ff;
  --text-color: #535768;
}

* {
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}


body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.container {
  max-width: 1440px;
  padding: 0 32px;
  width: 100%;
  margin: 0 auto;
}
