@import "tailwindcss";

:root {
  --primary-color: #6161ff;
  --text-color: #535768;
  --text-color-2: #676879;
  --bg-color: #f0f3ff;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.container {
  max-width: 1440px;
  padding: 0 32px;
  width: 100%;
  margin: 0 auto;
}
